<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>个人中心-油专特供</title>
    <!-- base:css -->
    <link href="../static/css/typicons.css" rel="stylesheet">
    <link href="../static/css/vendor.bundle.base.css" rel="stylesheet">
    <!-- endinject -->
    <!-- inject:css -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/vip.css" rel="stylesheet">
    <!-- endinject -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/jquery.js"></script>
</head>
<body>
<i id="bannerClose"></i>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href=""><img alt="logo" src="static/picture/logo.svg"></a>
            <a class="navbar-brand brand-logo-mini" href=""><img alt="logo" src="static/picture/logo-mini.svg"></a>
            <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" data-toggle="minimize"
                    type="button">
                <span class="typcn typcn-th-menu"></span>
            </button>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item d-none d-lg-flex  mr-2">
                    {% if username %}
                    <span style="font-weight: bold">欢迎您, {{ username }}</span>
                    <a class="nav-link" href="/logout" id="logout">
                        退出登录
                    </a>
                    {% else %}
                    <span style="font-weight: bold;--xr-font-color0: true">您好, 请</span>
                    <a class="nav-link" href="/">
                        点此登录
                    </a>
                    {% endif %}
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" data-toggle="offcanvas"
                    type="button">
                <span class="typcn typcn-th-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div id="nav-placeholder">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">

            </nav>
        </div>

        {% if username %}
        <div class="main-panel">
            <div class="content-wrapper" id="initial">
                <!--                个人信息区域-->
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body" id="main-container2">
                                <h3 class="mb-3">基本信息</h3>
                                <div class="form-sample">
                                    <div class="row">
                                        <div class="col-md-9 d-flex grid-margin stretch-card m-auto">
                                            <div class="form-group row mx-2">
                                                <div class="col-md-6 min-vw-20 mt-2 mb-2">
                                                    <span>
                                                        <span style="font-weight: bold">用户名：</span>
                                                        <span>{{ username }}</span>
                                                    </span>
                                                </div>
                                                <div class="col-md-6 min-vw-20 mt-2 mb-2">
                                                    <span>
                                                        <span style="font-weight: bold">密码：</span>
                                                        <span class="hidden-value" id="pwdspan">••••••••••••</span>
                                                        <button class="btn btn-sm btn-outline-secondary text-center m-auto"
                                                                id="changepwdBtn"
                                                                onclick="verifypwd()"
                                                                style="text-align: center; margin: 0"
                                                        >
                                                            修改
                                                        </button>
                                                    </span>
                                                    <script>
                                                        function verifypwd() {
                                                            var password = prompt("请输入密码以校验身份:");
                                                            if (password !== null) {
                                                                var params = new URLSearchParams();
                                                                params.append('password', password)
                                                                axios.post('/verifypassword', params)
                                                                    .then(function (response) {
                                                                        var res = response.data
                                                                        if (res === '密码错误') {
                                                                            document.getElementById("pwdspan").style.color = "red";
                                                                            document.getElementById("pwdspan").innerText = '密码错误，请重试！'
                                                                        } else {
                                                                            document.getElementById("pwdspan").style.color = "black";
                                                                            changepassword()
                                                                        }
                                                                    })
                                                                    .catch(error => {
                                                                        console.error(error);
                                                                    });
                                                            }
                                                        }

                                                        function changepassword() {
                                                            var password = prompt("验证成功，请输入新密码:");
                                                            if (password !== null) {
                                                                var params = new URLSearchParams();
                                                                params.append('password', password)
                                                                axios.post('/changepassword', params)
                                                                    .then(function (response) {
                                                                        var res = response.data
                                                                        document.getElementById("pwdspan").innerText = res
                                                                    })
                                                                    .catch(error => {
                                                                        console.error(error);
                                                                    });
                                                            }
                                                        }

                                                    </script>
                                                </div>
                                                <div class="col-md-12 min-vw-50 mt-2 mb-2">
                                                    <span>
                                                        <span style="font-weight: bold">密钥：</span>
                                                        <span class="hidden-value"
                                                              id="sdkspan">••••••••••••••••••••••••</span>
                                                        <!--                                                        <div class="typcn-eye "></div>-->
                                                        <button class="btn btn-sm btn-outline-secondary text-center m-auto"
                                                                id="verifyBtn"
                                                                onclick="checksdk()"
                                                                style="border-radius: 5px"
                                                        >
                                                            查看
                                                        </button>

                                                        <script>
                                                            function copySpanToClipboard() {
                                                                // 创建一个临时的<textarea>元素
                                                                var tempTextarea = document.createElement('textarea');

                                                                // 获取要复制的<span>元素
                                                                var spanElement = document.getElementById('sdkspan');

                                                                // 将<span>元素的内容赋值给<textarea>元素
                                                                tempTextarea.value = spanElement.textContent;

                                                                // 将<textarea>元素添加到文档中
                                                                document.body.appendChild(tempTextarea);

                                                                // 选中<textarea>元素的内容
                                                                tempTextarea.select();

                                                                // 复制选中的内容到剪贴板
                                                                document.execCommand('copy');

                                                                // 清除选中的内容和删除临时的<textarea>元素
                                                                window.getSelection().removeAllRanges();
                                                                document.body.removeChild(tempTextarea);

                                                            }

                                                            function checksdk() {
                                                                let password = prompt("请输入登录密码以校验身份:");
                                                                if (password != null && password !== "") {
                                                                    data = new FormData()
                                                                    data.append('password', password)
                                                                    axios.post('/verifypassword', data)
                                                                        .then(res => {
                                                                            document.getElementById("sdkspan").innerHTML = res.data;
                                                                            if(res.data[res.data.length-1]!=='!'){
                                                                                copySpanToClipboard();
                                                                                alert('已复制到剪贴板');
                                                                            }
                                                                        })
                                                                        .catch(err => {
                                                                            console.log(err)
                                                                        })
                                                                }
                                                            }
                                                        </script>
                                                        {% if check %}
                                                        <script>
                                                            checksdk()
                                                        </script>
                                                        {% endif %}
                                                    </span>
                                                </div>
                                                <div class="col-md-3 min-vw-80 mt-2 mb-2">
                                                    <!--                                                    <span class="hidden-value">====&#45;&#45;&#45;&#45; 5/10</span>-->
                                                    <!--                                                    <span style="font-weight: bold">API_KEY剩余：</span>-->
                                                    <span class="d-flex justify-content-between">
                                                        <span style="font-weight: bold">密钥到期时间：</span>
                                                    </span>
                                                </div>
                                                <div class="col-md-9 min-vw-50 mt-2 mb-2">
                                                    <span class="mr-5"
                                                          style="font-weight: bold;font-family: 'Courier New',serif">{{key_amount}}</span>
                                                    <button class="btn btn-sm btn-outline-secondary text-center m-auto"
                                                            id="apply-delay" onclick="addsdktime()"
                                                    >
                                                        申请延期
                                                    </button>

                                                    <script>
                                                        function addsdktime() {
                                                            document.getElementById('initial').style.display = 'none'
                                                            document.getElementById('addsdktime').style.display = 'block'
                                                        }
                                                    </script>

                                                </div>
                                                <div class="col-md-6 min-vw-50 mt-2 mb-2">
                                                    <span>
                                                        <span style="font-weight: bold">联系方式：</span>
                                                        <span>15264356086</span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3 align-items-center m-auto" style="max-width: 200px">
                                            <div class="col-md-12 mt-2 mb-4 d-flex align-items-center">
                                                <img alt="Avatar" class="m-auto" id="avatar-img"
                                                     src="/static/usertouxiang/{{username}}/touxiang.png"
                                                     style="min-width: 20%; width: 70%">
                                            </div>
                                            <div class="col-md-12 mt-4 mb-2 d-flex align-items-center">
                                                <input id="change-avatar-btn" style="display: none" type="file">
                                                <button class="btn btn-sm btn-outline-secondary text-center m-auto"
                                                        onclick="changetx()">
                                                    更换头像
                                                </button>
                                                <script>
                                                    function changetx() {
                                                        var fileInput = document.getElementById("change-avatar-btn");
                                                        fileInput.click();
                                                    }

                                                    document.getElementById("change-avatar-btn").addEventListener("change", function () {
                                                        var fileInput = document.getElementById("change-avatar-btn");
                                                        var file = fileInput.files[0];

                                                        var formData = new FormData();
                                                        formData.append("image", file);

                                                        axios
                                                            .post("/changetx", formData)
                                                            .then(function (response) {
                                                                // 上传成功
                                                                console.log("图片上传成功！");
                                                                var avatarImg = document.getElementById("avatar-img");
                                                                var tmp = Math.random()
                                                                avatarImg.src = '/static/usertouxiang/{{username}}/touxiang.png' + '?version=' + tmp
                                                            })
                                                            .catch(function (error) {
                                                                // 上传失败
                                                                console.log("图片上传失败！");
                                                            });
                                                    });

                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-center align-items-center">
                                        <button class="btn btn-sm btn-outline-danger text-center m-auto"
                                                onclick="logout()">退出登录
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <!--                    上传数据集-->
                    <div class="col-xl-6 d-flex grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="table1">
                                        <thead>
                                        <tr>
                                            <th>已上传的数据集</th>
                                            <th>上传时间</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <script>
                                        function updatetable() {
                                            axios.get('/get_uploadcsv')
                                                .then(res => {
                                                    let name1 = Object.entries(res.data)[0][1];
                                                    // 假设通过后端获取到的文件名列表为fileNames
                                                    var fileNames1 = name1;
                                                    // 获取表格的tbody元素
                                                    var tableBody1 = document.querySelector('#table1 tbody');
                                                    tableBody1.innerHTML = '';
                                                    // 遍历文件名列表，生成表格行并添加到表格中
                                                    for (var i = 0; i < fileNames1.length; i++) {
                                                        var fileName = fileNames1[i];
                                                        var row = document.createElement('tr');
                                                        var cell1 = document.createElement('td');
                                                        cell1.textContent = fileName;
                                                        var cell2 = document.createElement('td');
                                                        cell2.textContent = '下载'
                                                        row.appendChild(cell1);
                                                        row.appendChild(cell2);
                                                        tableBody1.appendChild(row);
                                                    }
                                                })
                                                .catch(err => {
                                                    console.error('axios请求错误' + err)
                                                })
                                        }

                                        updatetable();
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    下载预测结果-->
                    <div class="col-xl-6 d-flex grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="table2">
                                        <thead>
                                        <tr>
                                            <th>已下载的结果文件</th>
                                            <th>下载时间</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <script>
                                        function updatetable() {
                                            axios.get('/get_userfile')
                                                .then(res => {
                                                    let tmp = res.data
                                                    let name1 = tmp.uploadcsv;
                                                    let name2 = tmp.downloadcsv;
                                                    let time1 = tmp.uploadcsv_time
                                                    let time2 = tmp.downloadcsv_time
                                                    console.log(time1)
                                                    console.log(time2)
                                                    // 假设通过后端获取到的文件名列表为fileNames
                                                    var fileNames1 = name1;
                                                    var fileNames2 = name2;
                                                    // 获取表格的tbody元素
                                                    var tableBody1 = document.querySelector('#table1 tbody');
                                                    var tableBody2 = document.querySelector('#table2 tbody');
                                                    tableBody1.innerHTML = '';
                                                    tableBody2.innerHTML = '';
                                                    // 遍历文件名列表，生成表格行并添加到表格中
                                                    for (var i = 0; i < fileNames1.length; i++) {
                                                        var fileName = fileNames1[i];
                                                        var time = time1[i]
                                                        var row = document.createElement('tr');
                                                        var cell1 = document.createElement('td');
                                                        cell1.textContent = fileName;
                                                        var cell1_5 = document.createElement('td');
                                                        cell1_5.textContent = time;
                                                        var cell2 = document.createElement('td');
                                                        var href = document.createElement('a');
                                                        href.href = '/download_history_csv?path=userdata/{{ username }}/上传数据集/in' + (i + 1) + '.csv';
                                                        href.text = '下载';
                                                        cell2.appendChild(href);
                                                        row.appendChild(cell1);
                                                        row.appendChild(cell1_5);
                                                        row.appendChild(cell2);
                                                        tableBody1.appendChild(row);
                                                    }
                                                    for (var i = 0; i < fileNames2.length; i++) {
                                                        var fileName = fileNames2[i];
                                                        var time = time2[i]
                                                        var row = document.createElement('tr');
                                                        var cell1 = document.createElement('td');
                                                        cell1.textContent = fileName;
                                                        var cell1_5 = document.createElement('td');
                                                        cell1_5.textContent = time;
                                                        var cell2 = document.createElement('td');
                                                        var href = document.createElement('a');
                                                        href.href = '/download_history_csv?path=userdata/{{ username }}/下载结果文件/res' + (i + 1) + '.csv';
                                                        href.text = '下载';
                                                        cell2.appendChild(href);
                                                        row.appendChild(cell1);
                                                        row.appendChild(cell1_5);
                                                        row.appendChild(cell2);
                                                        tableBody2.appendChild(row);
                                                    }
                                                })
                                                .catch(err => {
                                                    console.error('axios请求错误' + err)
                                                })
                                        }

                                        updatetable();
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                两个列表-->

            </div>
            <div id="addsdktime" style="display: none">
                <div class="content-wrapper d-flex flex-column align-items-center h-100">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-7  stretch-card ">
                            <div class="card">
                                <div style="background-color: #ebebeb; text-align: center">
                                    密钥续费
                                    <button onclick="back()">X</button>
                                    <script>
                                        function back() {
                                            document.getElementById('initial').style.display = 'block'
                                            document.getElementById('addsdktime').style.display = 'none'
                                        }
                                    </script>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-7  stretch-card ">
                            <div class="card">
                                <div class="card-body">
                                    <span>续费用户：{{username}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7  stretch-card ">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="goods">
                                            <div class="goods-items" id="1">
                                                <div class="total">
                                                    <em class="money">60</em>
                                                    <span class="unit">元</span>
                                                </div>
                                                <div class="relative-to-total" style="display: none;">
                                                    <div class="quantity-input with-unit">
                                                        <button class="reduce" type="button">
                                                            <i class="icon-reduce"></i>
                                                        </button>
                                                        <div class="input-area">
                                                            <input class="quantity-input-tx"
                                                                   id="BF85F6AB-3429-43F5-974A-EF239E43000B"
                                                                   type="text"><span>个月</span>
                                                        </div>
                                                        <button class="add" type="button">
                                                            <i class="icon-add"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="relative-to-total">
                                                    <div class="">3个月</div>
                                                </div>
                                                <i class="icon-corner-checked"></i>
                                                <div class="goods-marketing" style="display: none;">
                                                    <i class="icon-marketing-l"></i>
                                                    <span></span>
                                                    <i class="icon-marketing-r"></i>
                                                </div>
                                            </div>
                                            <div class="goods-items" id="2">
                                                <div class="total">
                                                    <em class="money">120</em>
                                                    <span class="unit">元</span>
                                                </div>
                                                <div class="relative-to-total" style="display: none;">
                                                    <div class="quantity-input with-unit">
                                                        <button class="reduce" type="button">
                                                            <i class="icon-reduce"></i>
                                                        </button>
                                                        <div class="input-area">
                                                            <input class="quantity-input-tx"
                                                                   id="D0777E8F-7134-4DF7-9A24-11391571ADEB"
                                                                   type="text"><span>个月</span>
                                                        </div>
                                                        <button class="add" type="button">
                                                            <i class="icon-add"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="relative-to-total">
                                                    <div class="">6个月</div>
                                                </div>
                                                <i class="icon-corner-checked"></i>
                                                <div class="goods-marketing" style="display: none;">
                                                    <i class="icon-marketing-l"></i>
                                                    <span></span>
                                                    <i class="icon-marketing-r"></i>
                                                </div>
                                            </div>
                                            <div class="goods-items" id="3">
                                                <div class="total">
                                                    <em class="money">240</em>
                                                    <span class="unit">元</span>
                                                </div>
                                                <div class="relative-to-total" style="display: none;">
                                                    <div class="quantity-input with-unit">
                                                        <button class="reduce" type="button">
                                                            <i class="icon-reduce"></i>
                                                        </button>
                                                        <div class="input-area">
                                                            <input class="quantity-input-tx"
                                                                   id="7C42B26E-6E2B-4C5D-A2F7-E482F188D3CE"
                                                                   type="text"><span>个月</span>
                                                        </div>
                                                        <button class="add" type="button">
                                                            <i class="icon-add"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="relative-to-total">
                                                    <div class="">12个月</div>
                                                </div>
                                                <i class="icon-corner-checked"></i>
                                                <div class="goods-marketing" style="display: none;">
                                                    <i class="icon-marketing-l"></i>
                                                    <span></span>
                                                    <i class="icon-marketing-r"></i>
                                                </div>
                                            </div>
                                            <div class="goods-items checked" id="4">
                                                <div class="total">
                                                    <em class="money" id="price">20</em>
                                                    <span class="unit">元</span>
                                                </div>
                                                <div class="relative-to-total">
                                                    <div class="quantity-input with-unit">
                                                        <button class="reduce" disabled="" id="reducebtn"
                                                                onclick="reduce1()"
                                                                type="button">
                                                            <i class="icon-reduce"></i>
                                                        </button>
                                                        <div class="input-area">
                                                            <input class="quantity-input-tx" id="cnt" type="text"
                                                                   value='1'><span>个月</span>
                                                        </div>
                                                        <button class="add" onclick="add1()" type="button">
                                                            <i class="icon-add"></i>
                                                        </button>
                                                        <script>
                                                            var time = 1;

                                                            function add1() {
                                                                var cntElement = document.getElementById('cnt');
                                                                var currentValue = parseInt(cntElement.getAttribute('value'));
                                                                cntElement.value = (currentValue + 1).toString();
                                                                time = currentValue + 1;
                                                                cntElement.setAttribute('value', (currentValue + 1).toString());

                                                                var price = document.getElementById('price');
                                                                var newprice = (currentValue + 1) * 20;
                                                                price.textContent = newprice

                                                                if (currentValue === 1) {
                                                                    document.getElementById('reducebtn').removeAttribute('disabled')
                                                                }
                                                            };

                                                            function reduce1() {
                                                                var cntElement = document.getElementById('cnt');
                                                                var currentValue = parseInt(cntElement.getAttribute('value'));
                                                                time = currentValue - 1;

                                                                cntElement.value = (currentValue - 1).toString();
                                                                cntElement.setAttribute('value', (currentValue - 1).toString());

                                                                var price = document.getElementById('price');
                                                                var newprice = (currentValue - 1) * 20;
                                                                price.textContent = newprice

                                                                if (currentValue === 2) {
                                                                    document.getElementById('reducebtn').setAttribute('disabled', '')
                                                                }
                                                            }
                                                        </script>
                                                    </div>
                                                </div>
                                                <div class="relative-to-total" style="display: none;">
                                                    <div class="">1个月</div>
                                                </div>
                                                <i class="icon-corner-checked"></i>
                                                <div class="goods-marketing" style="display: none;">
                                                    <i class="icon-marketing-l"></i>
                                                    <span></span>
                                                    <i class="icon-marketing-r"></i>
                                                </div>
                                            </div><!--ms-if--></div>
                                        <script>


                                            const p1dom = document.getElementById('1')
                                            const p2dom = document.getElementById('2')
                                            const p3dom = document.getElementById('3')
                                            const p4dom = document.getElementById('4')

                                            p1dom.addEventListener('click', function () {
                                                time = 3
                                                p1dom.setAttribute("class", "goods-items checked")
                                                p2dom.setAttribute("class", "goods-items")
                                                p3dom.setAttribute("class", "goods-items")
                                                p4dom.setAttribute("class", "goods-items")
                                            });
                                            p2dom.addEventListener('click', function () {
                                                time = 6
                                                p1dom.setAttribute("class", "goods-items")
                                                p2dom.setAttribute("class", "goods-items checked")
                                                p3dom.setAttribute("class", "goods-items")
                                                p4dom.setAttribute("class", "goods-items")
                                            });
                                            p3dom.addEventListener('click', function () {
                                                time = 12
                                                p1dom.setAttribute("class", "goods-items")
                                                p2dom.setAttribute("class", "goods-items")
                                                p3dom.setAttribute("class", "goods-items checked")
                                                p4dom.setAttribute("class", "goods-items")
                                            });
                                            p4dom.addEventListener('click', function () {
                                                p1dom.setAttribute("class", "goods-items")
                                                p2dom.setAttribute("class", "goods-items")
                                                p3dom.setAttribute("class", "goods-items")
                                                p4dom.setAttribute("class", "goods-items checked")
                                            });
                                        </script>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7  stretch-card ">
                            <div class="card">
                                <div class="card-body" id="d2ma">
                                    <img src="/static/picture/d2ma.png"
                                         style="min-width: 15%; width: 18%; margin-left: 41%">
                                </div>
                                <div class="card-body">
                                    <button class="btn btn-sm btn-outline-secondary btn-icon text-center"
                                            onclick="reload()"
                                            style="width: 18%; margin-left: 41%">支付完成
                                    </button>
                                    <script>
                                        function reload() {
                                            const url = '/sdktimeadd?time=' + time.toString()
                                            axios.get(url)
                                                .then(res => {
                                                    console.log(res)
                                                    document.getElementById('initial').style.display = 'block'
                                                    document.getElementById('addsdktime').style.display = 'none'
                                                    axios.get("/personalcenter")
                                                    window.location.href = '/personalcenter'
                                                })
                                                .catch(err => {
                                                    console.error('axios请求错误' + err)
                                                })
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer-placeholder">

            </div>
        </div>
        {% else %}
        <!--        没登录啥都不显示-->
        <div class="main-panel">
            <div class="content-wrapper">
                <span style="text-align: center;font-size: 40px">
                    <a href="/">请登录</a>
                </span>
            </div>
        </div>
        {% endif %}

    </div>
</div>


<script src="../static/js/vendor.bundle.base.js"></script>
<script src="../static/js/off-canvas.js"></script>
<script src="../static/js/hoverable-collapse.js"></script>
<script src="../static/js/template.js"></script>
<script src="../static/js/settings.js"></script>
<script src="../static/js/todolist.js"></script>
<script src="../static/js/progressbar.min.js"></script>
<script src="../static/js/Chart.min.js"></script>
<script src="../static/js/dashboard.js"></script>
<script src="../static/js/nav-footer_loader.js"></script>
<script>
    async function logout() {
        let logoutDom = document.getElementById('logout');
        logoutDom.click()
    }
</script>
</body>
</html>
