<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>注册账号-油专特供</title>
    <link href="../static/css/typicons.css" rel="stylesheet">
    <link href="../static/css/vendor.bundle.base.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">


</head>

<body>
<div class="container-scroller"
     style="background-color: #e8eff9;height: 100vh;padding: 0!important;margin:0!important;overflow: auto">
    <div class="main-panel d-flex align-items-center justify-content-between"
         style="padding: 0!important;margin: 0!important;height: 100%!important;width: 100%!important;">
        <div class="d-flex align-items-center auth p-0 mt-4 justify-content-center align-items-center"
             style="height: auto">
            <div class="row w-100 h-100 m-0 p-0 d-flex justify-content-center align-items-center">
                <div class="col-lg-6 mx-0 mr-0 justify-content-center align-items-center d-flex">
                    <img id="animation"
                         style="width: 80%;height: 80%;">
                    <!--动图-->
                    <script>
                        var animationDiv = document.getElementById("animation");
                        var frameIndex = 0;
                        var totalFrames = 30;
                        var animationSpeed = 100; // 帧间隔时间（单位：毫秒）
                        var images = []; // 存储图片对象的数组

                        // 预加载所有图片
                        for (var i = 1; i <= totalFrames; i++) {
                            var img = new Image();
                            img.src = "static/picture/gif/glyc" + i + ".png";
                            images.push(img);
                        }

                        // 播放动画
                        async function playAnimation() {
                            animationDiv.src = images[frameIndex].src;
                            // {{ url_for('static', filename='/picture/gif/glyc1.png') }};
                            frameIndex++;
                            if (frameIndex >= totalFrames) {
                                frameIndex = 0;
                            }

                            setTimeout(playAnimation, animationSpeed);
                        }

                        // 开始播放动画
                        playAnimation();
                    </script>
                </div>
                <div class="col-lg-6 mx-0 mr-0 justify-content-center align-items-center d-flex">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img alt="logo" src="static/picture/logo.svg">

                        </div>
                        <h4>欢迎使用风电功率预测系统油专特供版online</h4>
                        <h5 class="font-weight-light" id="response">请注册</h5>
                        <form class="pt-3">
                            <div class="form-group">
                                <input class="form-control form-control-lg" id="username" placeholder="用户名"
                                       type="text">
                            </div>

                            <div class="form-group">
                                <input class="form-control form-control-lg" id="password" placeholder="密码"
                                       type="password">
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-lg" id="re_password" placeholder="确认密码"
                                       type="password">
                            </div>
                            <!--                            <div class="mb-4">-->
                            <!--                                <div class="form-check">-->
                            <!--                                    <label class="form-check-label text-muted">-->
                            <!--                                        <input class="form-check-input" type="checkbox">-->
                            <!--                                        我同意所有许可协议-->
                            <!--                                    </label>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="mt-3">
                                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                        id="registerBtn"
                                        type="button">注册
                                </button>
                                <!--                                <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"-->
                                <!--注册-->
                                <script>
                                    var registerButton = document.getElementById('registerBtn');
                                    registerButton.addEventListener('click', function () {
                                        var usernameInput = document.getElementById('username');
                                        var passwordInput = document.getElementById('password');
                                        var passwordreInput = document.getElementById('re_password');
                                        var username = usernameInput.value;
                                        var password = passwordInput.value;
                                        var repassword = passwordreInput.value;
                                        // 使用axios发送POST请求
                                        axios.post('/register_submit', {
                                            username: username,
                                            password: password,
                                            repassword: repassword
                                        })
                                            .then(function (response) {
                                                var res = response.data
                                                var tmp = document.getElementById('response');
                                                tmp.innerText = '';
                                                if (res === '注册成功,点此登录') {
                                                    var link = document.createElement('a');
                                                    link.href = '/'; // 设置超链接的URL
                                                    link.textContent = res; // 设置超链接的显示文本
                                                    tmp.appendChild(link);
                                                } else {
                                                    tmp.innerText = res;
                                                    tmp.style.fontSize = '17px'
                                                    tmp.style.color = 'red'
                                                }
                                            })
                                            .catch(function (error) {
                                                // 处理错误逻辑
                                            });
                                    });
                                </script>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                已经有账户了？ <a class="text-primary" href="/">登录</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-end" id="footer-placeholder"
             style="height: 10%!important;">
            <footer class="footer" style="padding: 12px!important;font-size: 15px!important;">
                <div class="d-flex justify-content-center align-items-center">
                  <span class="text-center d-block d-inline-block">
                      Copyright &copy; 2023.
                      <span style="font-weight: bold;font-style: italic">油专之旅</span>
                      All rights reserved.
                      <!--                  <a href="https://sc.chinaz.com/moban/" target="_blank">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>-->
                  </span>
                </div>
            </footer>

        </div>

    </div>

</div>

<script src="../static/js/jquery.js"></script>
<!--<script src="../static/js/nav-footer_loader.js"></script>-->
<script src="../static/js/vendor.bundle.base.js"></script>
<script src="../static/js/off-canvas.js"></script>
<script src="../static/js/hoverable-collapse.js"></script>
<script src="../static/js/template.js"></script>
<script src="../static/js/settings.js"></script>
<script src="../static/js/todolist.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- endinject -->


</body>

</html>
