<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>页岩气藏产能预测管理系统</title>
    <!-- base:css -->
    <link href="../static/css/typicons.css" rel="stylesheet">
    <link href="../static/css/vendor.bundle.base.css" rel="stylesheet">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- endinject -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/modernizr-2.8.3.min.js"></script>
    <script src="https://www.itxst.com/package/jquery-3.5.1/jquery.min.js"></script>
</head>
<body>
<i id="bannerClose"></i>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="/"><img alt="logo" src="static/picture/logo.svg"></a>
            <a class="navbar-brand brand-logo-mini" href="/"><img alt="logo" src="static/picture/logo-mini.svg"></a>
            <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" data-toggle="minimize"
                    type="button">
                <span class="typcn typcn-th-menu"></span>
            </button>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item d-none d-lg-flex  mr-2">
                    {% if sdk %}
                    <span>您已经拥有API_KEY，<a href="/check_sdk">点此查看</a></span>
<!--                    <button class="" data-target="#defaultModal" data-toggle="modal" style="border: none" type="button">-->
<!--                        点此查看-->
<!--                    </button>-->
<!--                    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="defaultModal"-->
<!--                         role="dialog" tabindex="-1">-->
<!--                        <div class="modal-dialog" role="document">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">-->
<!--                                        <span aria-hidden="true">×</span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    <p>This is a modal with default size</p>-->
<!--                                </div>-->
<!--                                <div class="modal-footer">-->
<!--                                    <button class="btn btn-secondary" data-dismiss="modal"-->
<!--                                            type="button">Close-->
<!--                                    </button>-->
<!--                                    <button class="btn btn-primary" type="button">Save changes</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    {% else %}
                    <span>您尚未获取API_Key，
                        <a href="/newsdk">点此申请</a>
                    </span>
                    {% endif %}


                </li>
                <li class="nav-item d-none d-lg-flex  mr-2">
                    {% if username %}
                    <span style="font-weight: bold">欢迎您, {{ username }}</span>
                    <a class="nav-link" href="/logout">
                        退出登录
                    </a>
                    {% else %}
                    <span style="font-weight: bold;--xr-font-color0: true">您好, 请</span>
                    <a class="nav-link" href="/">
                        点此登录
                    </a>
                    {% endif %}
                </li>
            </ul>

            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" data-toggle="canvas"
                    type="button">
                <span class="typcn typcn-th-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div class="settings-panel" id="theme-settings">
                <i class="settings-close typcn typcn-delete-outline"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>
                    Light
                </div>
                <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                    Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles primary"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default border"></div>
                </div>
            </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <div id="nav-placeholder">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
            </nav>
            <script>
                $(function () {
                    $("#sidebar").load("/navigation.html");
                });
            </script>
        </div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div>
                    <div class="about_area">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 grid-margin stretch-card">
                                    <div class="about_left">
                                        <div class="about_image">
                                            <img alt="About Image" height=100% src="static/picture/apk.png" width=95%>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 grid-margin stretch-card">
                                    <div class="about_cont">
                                        <div class="about_cont_inner">
                                            <div class="witr_section_title">
                                                <div>
                                                    <h2 style="margin-top:20px;margin-bottom:20px;font-family: 方正粗黑宋简体;font-size: 50px">
                                                        移动端版本1.0！</h2>
                                                    <h3 style="margin-top:20px;margin-bottom:20px;font-size: 25px">
                                                        您的页岩气藏产能隐私安全，我来守护！</h3>
                                                    <p style="margin-top:20px;margin-bottom:20px;font-size: 18px">
                                                        页岩气藏产能预测管理系统作为一款主打产能数据隐私保护的软件，可以实现移动端本地离线训练并预测产能或直接预测，且能够将预测后的数据集导出，整个流程中数据无需上传到服务器。不仅如此，我们还开发了预测结果可视化功能，方便您观测产能的变化趋势。</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="witr_counter_single">
                                                        <div class="witr_counter_img">

                                                            <img alt="Icon" height=23% src="static/picture/download.png"
                                                                 width=23%>

                                                        </div>
                                                        <div class="witr_counter_number_inn">
                                                            <h4 style="margin-top:10px;margin-bottom:10px;">累计</h4>
                                                            <h3 class="counter"
                                                                style="margin-top:10px;margin-bottom:10px;">1000</h3>
                                                            <h4 style="margin-top:10px;margin-bottom:10px;">
                                                                余次下载</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="witr_counter_single">
                                                        <div class="witr_counter_img">
                                                            <img alt="Icon" height=25%
                                                                 src="static/picture/cooperation.png" width=25%>
                                                        </div>
                                                        <div class="witr_counter_number_inn">
                                                            <h4 style="margin-top:10px;margin-bottom:10px;">累计</h4>
                                                            <h3 class="counter"
                                                                style="margin-top:10px;margin-bottom:10px;">19</h3>
                                                            <h4 style="margin-top:10px;margin-bottom:10px;">
                                                                家合作企业</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:50px;margin-bottom:50px;">
                                                <a class="btn btn-secondary" href="/download_tdra">下载应用</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="footer-placeholder">
                <script>
                    $(function () {
                        $("#footer-placeholder").load("/footer.html");
                    });
                </script>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- base:js -->
<script src="../static/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../static/js/off-canvas.js"></script>
<script src="../static/js/hoverable-collapse.js"></script>
<script src="../static/js/template.js"></script>
<script src="../static/js/settings.js"></script>
<script src="../static/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="../static/js/progressbar.min.js"></script>
<script src="../static/js/Chart.min.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="../static/js/dashboard.js"></script>
<!-- End custom js for this page-->
<!-- Include All JS -->
<script src="../static/js/jquery-3.5.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/isotope.pkgd.min.js"></script>
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<script src="../static/js/imagesloaded.pkgd.min.js"></script>
<script src="../static/js/venobox.min.js"></script>
<script src="../static/js/jquery.appear.js"></script>
<script src="../static/js/jquery.knob.js"></script>
<script src="../static/js/theme-pluginjs.js"></script>
<script src="../static/js/jquery.meanmenu.js"></script>
<script src="../static/js/ajax-mail.js"></script>
<script src="../static/js/theme.js"></script>
</body>
</html>
